.topnav {
    overflow: hidden;
    display: flex;
    align-items: center;
    border-bottom-style: solid;
    border-color: blueviolet;

}
.buttons{
    margin-left: auto; 
    height: 50%;
    float:right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


@media screen and (max-width: 600px) {
    .topnav {position: relative;}
    .topnav h2,button {
      float: none;
      display: block;
      text-align: left;
    }
  }